@import "../../styles/globalConfig";
@import "../../styles/responsive";

.mobileHeader {
  background-color: $color1;
  color: #fff;
  font-size: 1rem;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
  max-width: 100% !important;

  >* {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @include lg {
    display: none !important;
  }
}

.topbar {
  display: none !important;

  @include lg {
    display: grid !important;
    background-color: $color4;
    height: 140px;
  }
}

.topbarCall {
  position: relative;
  grid-column: 11 / span 2 !important;
}

.topbarCallBox {
  position: relative;
  margin: 0 !important;
  width: 157px !important;
  height: 50px !important;
  padding: 0 16px !important;
  z-index: 10;
}
.topbarCallIcon{
  position: absolute;
  top: -6px;
  left: -9px;
  
  svg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
  }
}
.callBtnCircle{
  z-index: 5!important;
  left: 1px!important;
  top: -1px!important;
}

.desktopHeader {
  display: none !important;

  @include lg {
    display: grid !important;
    position: sticky;
    top: 0;
    z-index: 16;
    background-color: $color1;
    height: 70px;

    .right {
      grid-column: 1 / span 6;
      justify-content: start;
    }

    .right,
    .left {
      display: flex;
      width: 100%;
      font-size: 13px;
      color: #fff;
      line-height: 0;

      a {
        display: flex;
        align-items: center;
        padding: 0 25px;
      }
    }

    .left {
      grid-column: 7 / span 6;
      justify-content: end;
      direction: rtl;
    }
  }
}

.logoContainer {
  grid-column: 1 / span 2;
}

.right {
  grid-column: 1 / span 1;
  justify-content: start;

  button {
    line-height: 0;
  }
}

.middle {
  grid-column: 2 / span 2;
  justify-content: center;
  font-size: 14px;
}

.left {
  width: 61px;
  direction: ltr;
  justify-content: space-between;
  grid-column: 4 / span 1;

  a {
    display: flex;
  }
}