@import "../../../styles/globalConfig";

.container {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  [disabled] {
    z-index: 5;
  }
}
.detail {
  position: relative;
  width: 310px;
  padding: 25px;
  background-color: #fff;
  border-radius: 36px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: inherit;
    z-index: 10;
    opacity: 0.5;
  }
}
.image {
  position: relative;
  display: flex;
  flex-direction: column;
  > * {
    position: relative;
    z-index: 20;
  }
}

.choice {
  display: flex;
}
.title {
  margin-right: 8px;
  line-height: 2;
  font-size: 15px;
}
.description {
  font-size: 10px;
  line-height: 3;
}
.electronic {
  position: relative;
  display: flex;
  flex-direction: column;
  > * {
    position: relative;
    z-index: 20;
  }
  .insurance {
    display: flex;
    margin: 8px 0;
    .title {
      font-size: 13px;
    }
  }
  .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .labelText {
    font-size: 13px;
  }
  input {
    border: none;
    box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    width: 120px;
    font-size: 12px;
    padding: 16px 20px;
  }
  .choice {
    margin-left: 1rem;
  }
  .idInput {
    font-family: iransans;
    direction: ltr;
  }
}
.fileContainer {
  display: flex;
  width: 72px;
  float: left;
  .button {
    display: flex;
    padding: 1rem;
    box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
  }
}
.fileInput {
  color: transparent;
  width: 0;
  height: 0;
}
.fileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.action {
  margin: 22px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.submit,
.close {
  font-family: iransans;
  font-size: 15px;
  border: none;
  border-radius: 36px;
  color: #fff;
  padding: 16px;
  line-height: 1;
}
.submit {
  background-color: $color1;
  margin-left: 22px;
}
.close {
  background-color: $color3;
}

.productTop {
  .title {
    margin: 0;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 12px;
  }
  .description {
    line-height: 1;
  }
}
.fieldContainer {
  input, textarea{
    border: none;
    box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    font-size: 12px;
    padding: 14px 20px;
    font-family: iransans;
  }
}
.product {
  >*{
    margin-bottom: 20px;
  }
  .firstRow {
    display: grid;
    grid-template-columns: 4fr 1fr;
    .fileContainer {
      position: absolute;
      width: 48px;
      bottom: 0;
      .button{
        padding: 12px;
      }
    }
  }
  .secondRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    input{
      width: 100%;
    }
  }
  .thirdRow{
    display: grid;
    grid-template-columns: 100%;
    textarea{
      width: 100%;
    }
  }
  .labelText {
    font-size: 12px;
  }
}
.productBottom{
  font-size: 10px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  svg{
    margin-bottom: 5px;
  }
}
