@import "../../styles/globalConfig";
@import "../../styles/responsive";

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color1;
  color: #fff;
  font-size: 1rem;
  height: 72px;
  z-index: 10;
  max-width: 100%!important;
  @include lg{
    display: none!important;
  }
}
.navItems {
  font-size: 9px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
