@import '../../../styles/responsive';

.prescription {
    width: 85%;
    margin: auto;
    @include lg{
      margin-right: 5px;
    }
    padding: 0px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    margin-bottom: 22px;
    background-color: #fff;
    span {
      font-size: 12px;
      color: #5b5b5b;
    }
  }