@import '../../styles/globalConfig';

.servicesList{
    margin-bottom: 80px;
}
.servicesItemBig, .servicesItemSmall{
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border-radius: 24px;
    width: 100%;
    // padding: 1rem;
    font-size: 15px;
    margin: 12px;
    display: grid;
    grid-template-rows: 167px;
    grid-template-columns: 1fr 1fr;
}
.servicesItemSmall{
    grid-column: span 2;
}
.servicesItemBig{
    grid-column: span 4;
}
.link{
    grid-column: span 2;
}