@import "/styles/globalConfig";

.container {
  grid-column: span 4;
  display: flex;
  // margin: 22px auto;
  text-align: right;
  width: 100%;
  margin-bottom: 22px;
}

.childBox,
.parentBox {
  display: flex;
  padding: 0 22px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 36px;
  height: 73px;
  flex-grow: 1;
  line-height: 2;
}
.parentBoxClicked {
  color: #fff;
  background-color: $color1;
}
.servicesChildList {
  overflow: hidden;
}
.servicesChildList.closed {
  height: 0;
}
.servicesChildList.opened {
  height: auto;
}
.childBox {
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.loadingAnimation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: inherit;
}
.parentBox {
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
}
.servicesTitle {
  font-size: 15px;
  color: #262626;
}
.servicesTitleClicked {
  color: #fff;
}
.servicesPrice {
  font-size: 10px;
  color: #5b5b5b;
  span {
    padding-left: 3px;
  }
}
.addDrug {
  font-size: 11px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
