@font-face {
    font-family: "iransans";
    src: 
    // url("./fonts/IRANSANS(FANUM).woff2") format("woff2"),
    // url("./fonts/IRANSANS(FANUM).woff") format("woff"),
    // url("./fonts/IRANSANS(FANUM).eot") format("embedded-opentype"),
    url("./fonts/IRANSANS(FANUM).TTF") format("truetype");
  }
  @font-face {
    font-family: "iransans_ul";
    src: 
    // url("./fonts/IRANSANS(FANUM)_ULTRALIGHT.woff2") format("woff2"),
    // url("./fonts/IRANSANS(FANUM)_ULTRALIGHT.woff") format("woff"),
    // url("./fonts/IRANSANS(FANUM)_ULTRALIGHT.eot") format("embedded-opentype"),
    url("./fonts/IRANSANS(FANUM)_ULTRALIGHT.TTF") format("truetype");
  }
  @font-face {
    font-family: "iransans_m";
    src: 
    // url("./fonts/IRANSANS(FANUM)_MEDIUM.woff2") format("woff2"),
    // url("./fonts/IRANSANS(FANUM)_MEDIUM.woff") format("woff"),
    // url("./fonts/IRANSANS(FANUM)_MEDIUM.eot") format("embedded-opentype"),
    url("./fonts/IRANSANS(FANUM)_MEDIUM.TTF") format("truetype");
  }
  @font-face {
    font-family: "iransans_l";
    src: 
    // url("./fonts/IRANSANS(FANUM)_LIGHT.woff2") format("woff2"),
    // url("./fonts/IRANSANS(FANUM)_LIGHT.woff") format("woff"),
    // url("./fonts/IRANSANS(FANUM)_LIGHT.eot") format("embedded-opentype"),
    url("./fonts/IRANSANS(FANUM)_LIGHT.TTF") format("truetype");
  }
  @font-face {
    font-family: "iransans_b";
    src: 
    // url("./fonts/IRANSANS(FANUM)_BOLD.woff2") format("woff2"),
    // url("./fonts/IRANSANS(FANUM)_BOLD.woff") format("woff"),
    // url("./fonts/IRANSANS(FANUM)_BOLD.eot") format("embedded-opentype"),
    url("./fonts/IRANSANS(FANUM)_BOLD.TTF") format("truetype");
  }