@import '../../../styles/globalConfig';
@import '../../../styles/responsive';

.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;

    @include lg {
        position: static;
        display: grid;
        padding: 0 28px;
        align-items: center;
        justify-items: center;
        margin: auto;
        max-width: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 23px;
        padding: 20px 136px;
    }
}

.button {
    background-color: $color1;
    width: 100%;
    color: #fff;
    padding: 16px 12px;
    font-size: 15px;
    line-height: 1;
    text-align: center;
}

.rightBtn {
    border-radius: 24px 0 0 24px;
    @include lg{
        border-radius: 24px;
        grid-column: 3 / span 3;
    }
}

.leftBtn {
    border-radius: 0 24px 24px 0;
    @include lg{
        border-radius: 24px;
        grid-column: 8 / span 3;
    }

}