@import "../../styles/globalConfig";

.closed {
  display: none;
}
.container {
  position: fixed;
  top: 0;
  bottom: -20%;
  right: 0;
  left: 0;
  z-index: 50;
}
.menu {
  height: 100%;
  background-color: #fff;
  z-index: 100;
}
.head {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  grid-template-rows: 1fr 1fr;
  padding: 16px 20px;
  padding-right: 30px;
  background-color: #289c8e;
}
.detail {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
}
.name {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1;
}
.mobile {
  font-size: 10px;
  line-height: 1;
  margin-top: 8px;
}
.completeProfile {
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.avatar {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  position: relative;
  line-height: 0;
}
.avatarBg {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: $outsetShadow;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
}
.item {
  color: #000;
  font-size: 15px;
  line-height: 1;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 0;
  svg {
    width: 26px;
    height: 26px;
  }
}
